@page
@model WesternInn_TM_KT_RR.Pages.Bookings.IndexModel
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
               
                @Html.DisplayNameFor(model => model.Booking[0].TheGuest.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].TheGuest.GivenName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].RoomID)
            </th>
            <th>
                <a asp-page="Index" asp-route-sortorder="@ViewData["NextCheckIn"]">
                @Html.DisplayNameFor(model => model.Booking[0].CheckIn)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].CheckOut)
            </th>
            <th>
                <a asp-page="Index" asp-route-sortorder="@ViewData["NextTotalPriceOrder"]">
                @Html.DisplayNameFor(model => model.Booking[0].TotalPrice)
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Booking) {
            if (item.GuestEmail == UserManager.GetUserName(User))
            {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.TheGuest.Surname)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.TheGuest.GivenName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> 
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a> 
            </td>
        </tr>
      }  
}
    </tbody>
</table>
